@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("./img/Fundo.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: "Fredoka One";
}

.container {
  background-color: rgba(70, 70, 221, 0.53);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 440px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: rgba(70, 70, 221, 0.53);
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #FFFFFF;
  font-family: 'Inter';
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 31px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: rgba(70, 70, 221);
  border: 2px solid rgba(70, 70, 221);
  color: #fff;
  font-family: 'Inter';
  font-size: 16px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  border-radius: 20px;
  transition: background .25s ease-in-out;
}

button:hover {
  background-color: #295999;
}
button:disabled {
  opacity: .4;
  cursor: default;
}
button:disabled:hover {
  background-color: #006aff;
}

button a {
  color: #fff;
}

a {
  text-decoration: none;
}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}